name: Docker Image CI

on:
  workflow_dispatch:
  push:
    branches:
    - Dockerfile-chris-jantzen

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        echo "Hello, World!"
        docker build --file Dockerfile . --no-cache -t docker-demo
